body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url(img/bg.jpg);
    background-size: cover;

}

h2 {
    /* capitalização de texto: maiúscula. */
    text-transform: uppercase;
    /* espaçamento entre letras */
    letter-spacing: 0.25rem;
    /* tamanho fonte */
    font-size: 1,50rem;
    /* centralização: centro */
    text-align: center;
}

.clock {
    /* flex - direction */
    display: flex;
}
